<!-- #*	[S] Common Header *# -->
#parse( "/common/header.vm" )
<!-- #*	[E] Common Header *# -->

<body>
	<div id="wrapper">
		<!-- #*	[S] Common Snb *# -->
		#parse( "/common/snb.vm" )
		<!-- #*	[E] Common Snb *# -->
		
		<!-- #*	[S] Container *# -->
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2>SungJun's Blog</h2>
					<div class="alert alert-dismissable alert-warning">
						<button data-dismiss="alert" class="close" type="button">&times;</button>
						<b>오늘의 말씀 ($!{mRtnDailyQTData.searchTime.substring(0,10)})</b>
						<br />
						$!{mRtnDailyQTData.contents}
                    </div>
                </div>
            </div>
            
            <div class="row">
            	<div class="col-md-8">
                	<h4 class="tab-header">
						<a href="http://news.nate.com/" target="_blank" style="color: white;"><i class="fa fa-chevron-right"></i> 네이트 실시간 랭킹뉴스</a>
					</h4>
                    <header>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#sisaNews">시사</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#entNews">연예</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#spoNews">스포츠</a>
                            </li>
                        </ul>
                    </header>
                    <div class="body tab-content" style="padding-bottom: 5px;">
                        <div class="tab-pane clearfix active" id="sisaNews">
                           	#foreach( $eachData in $!{rSisaRankList} )
							<h5 class="tab-header">
								<span class="badge" style="float:left; position: absolute;">$!{eachData.rank}</span>
								<a href="$!{eachData.link}" target="_blank" class="text-over" style="padding-left: 30px;">$!{eachData.title}</a>
							</h5>
                			#end
                        </div>
                        <div class="tab-pane" id="entNews">
                           	#foreach( $eachData in $!{rEntRankList} )
							<h5 class="tab-header">
								<span class="badge" style="float:left; position: absolute;">$!{eachData.rank}</span>
								<a href="$!{eachData.link}" target="_blank" class="text-over" style="padding-left: 30px;">$!{eachData.title}</a>
							</h5>
                			#end
                        </div>
                        <div class="tab-pane" id="spoNews">
                           	#foreach( $eachData in $!{rSpoRankList} )
							<h5 class="tab-header">
								<span class="badge" style="float:left; position: absolute;">$!{eachData.rank}</span>
								<a href="$!{eachData.link}" target="_blank" class="text-over" style="padding-left: 30px;">$!{eachData.title}</a>
							</h5>
                			#end
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
					<h4 class="tab-header"><i class="fa fa-chevron-right"></i> 실시간 급상승 검색어</h4>
                   <header>
                       <ul class="nav nav-tabs">
                           <li class="active">
                               <a data-toggle="tab" href="#naverRank">NAVER</a>
                           </li>
                           <li class="">
                               <a data-toggle="tab" href="#daumRank">Daum</a>
                           </li>
                       </ul>
                   </header>
                   <div class="body tab-content">
                       <div class="tab-pane clearfix active" id="naverRank">
                          	<div id="divTargetNaverRank">
                          		#foreach( $eachData in $!{rNaverRankList} )
								<h5 class="tab-header">
									<span class="badge" style="float:left; position: absolute;">$!{eachData.rank}</span>
									<a href="$!{eachData.link}" target="_blank" class="text-over" style="padding-left: 30px;">$!{eachData.title}</a>
								</h5>
	               				#end
							</div>
                       </div>
                       <div class="tab-pane" id="daumRank">
                           <div id="divTargetDaumRank">
                          		#foreach( $eachData in $!{rDaumRankList} )
								<h5 class="tab-header">
									<span class="badge" style="float:left; position: absolute;">$!{eachData.rank}</span>
									<a href="$!{eachData.link}" target="_blank" class="text-over" style="padding-left: 30px;">$!{eachData.title}</a>
								</h5>
               					#end
							</div>
						</div>
					</div>
				</div>
            </div>
            
            <div class="row">
            	<div class="col-md-8">
					<h4 class="tab-header">
						<a href="http://finance.naver.com/" target="_blank" style="color: white;"><i class="fa fa-chevron-right"></i> 증권 트랜드랭킹</a>
					</h4>
					<header style="padding-bottom:10px;">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#financeSearch">검색</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#financeNews">뉴스</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#financeCompany">증권사</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#financeDebate">토론</a>
                            </li>
                        </ul>
                    </header>
                    <div class="body tab-content" style="padding-bottom: 5px;">
						<div class="tab-pane clearfix active" id="financeSearch">
							<div id="grid_trendrank_sh"></div>
						</div>
						<div class="tab-pane" id="financeNews">
                           <div id="grid_trendrank_nw"></div>
						</div>
						<div class="tab-pane" id="financeCompany">
                           <div id="grid_trendrank_cp"></div>
						</div>
						<div class="tab-pane" id="financeDebate">
                           <div id="grid_trendrank_db"></div>
						</div>
					</div>
				</div>
                
                <div class="col-md-4">
					<h4 class="tab-header"><i class="fa fa-chevron-right"></i> 이시각 증시</h4>
					<div id="grid_finance"></div>
				</div>
				
				<div class="col-md-4">
					<h4 class="tab-header"><i class="fa fa-chevron-right"></i> 이시각 증시</h4>
					<div id="grid_finance2"></div>
				</div>
			</div>
        </div>
		<!-- #*	[E] Container *# -->
	</div>
	
	<script type="text/javascript">
		"use strict";
		var lsTrendRankList;
		
		/* #* Velocity 주석 in Javascript *# */
		(function(jQuery) {
			/* #* [S] Document Ready *# */
			jQuery(function() {
				/* #* [S] Init Function *# */
				var _bInit = false;
				
				var nHeigthOfNaver = jQuery("#naverRank").height() + 5;
				jQuery("#naverRank").height(nHeigthOfNaver);
				jQuery("#daumRank").height(nHeigthOfNaver-10);
				
				/* var el = jQuery(".tab-content");
				el.html(el.html().replace(/Demo Version/ig, "")); */
				
				var st = setTimeout(function() {
					jQuery('a[href="http://www.shieldui.com"]').remove();
				}, 100);
				
				/* #* [E] Init Function *# */
				
				/* #* [S] Pre Excute Function *# */
				/* #* [E] Pre Excute Function *# */
				
				/* #* [S] Event Binding *# */
				jQuery(".nav-tabs li").mouseover(function(e){
  					jQuery(e.target).click();
				});
				/* #* [E] Event Binding *# */
				
				/* #* [S] Business Logics *# */
	            if ( _bInit ) {
		            var setIntervalRankData = setInterval(function(){
		            	var sHtmlTags = "";
		            	var nHeight = 0;
		            	
			            // 실시간급상승 검색어 데이터 조회
		            	Controller.setAction("/findRealRankList", "", "", false);
						Controller.setParams({});
						Controller.submit(function(data){
							jQuery("#divTargetNaverRank").empty();
							jQuery("#divTargetDaumRank").empty();
							
							for ( var i=0; i < data.naver.length; i++ ) {
								fnAppendRank(data.naver[i], i, jQuery("#divTargetNaverRank"));
								fnAppendRank(data.daum[i], i, jQuery("#divTargetDaumRank"));
							}
						});
		            }, 10000);
	            }
	            var rFinanceList = [];
	            
	            #foreach( $eachData in $!{rFinanceList} )
	            	rFinanceList.push({
	            		Section	: '$!{eachData.section}', 
	            		Amount	: '$!{eachData.amount}',
						Point	: '$!{eachData.point}',
	            		Percent	: '$eachData.rate'
	            	});
	            #end
	            
				jQuery("#grid_finance").shieldGrid({
					dataSource	: {
						data : rFinanceList
					},
					sorting	: {
						multiple: true
					},
					rowHover	: false,
					paging		: false,
					columns		: [
						{ field: "Section", title: "Section" },
						{ field: "Amount",	title: "Amount" },                
						{ field: "Point",	title: "Point" },
						{ field: "Percent",	title: "Percent" }
					]
				});
	            
	            jQuery("#grid_finance2").shieldGrid({
					dataSource	: {
						data : rFinanceList
					},
					sorting	: {
						multiple: true
					},
					rowHover	: false,
					paging		: false,
					columns		: [
						{ field: "Section", title: "Section" },
						{ field: "Amount",	title: "Amount" },                
						{ field: "Point",	title: "Point" },
						{ field: "Percent",	title: "Percent" }
					]
				});
	            
	            
	            jQuery("#grid_trendrank_sh").shieldGrid({
					dataSource	: {
						data : $!{lsTrendRankList}[0].result.list
					},
					sorting	: {
						multiple: true
					},
					rowHover	: true,
					paging		: false,
					columns		: [
						{ field: "nm",	title: "Index" },
						{ field: "nv",	title: "Amount",	format: "{0:n:0}" },
						{ field: "cv",	title: "Variation", format: "{0:n:0}" },
						{ field: "cr",	title: "Percent",	format: "{0} %" }
					]
				});
	            
	            jQuery("#grid_trendrank_nw").shieldGrid({
					dataSource	: {
						data : $!{lsTrendRankList}[1].result.list
					},
					sorting	: {
						multiple: true
					},
					rowHover	: true,
					paging		: false,
					columns		: [
						{ field: "nm",	title: "Index" },
						{ field: "nv",	title: "Amount",	format: "{0:n:0}" },
						{ field: "cv",	title: "Variation", format: "{0:n:0}" },
						{ field: "cr",	title: "Percent",	format: "{0} %" }
					]
				});
	            
	            jQuery("#grid_trendrank_cp").shieldGrid({
					dataSource	: {
						data : $!{lsTrendRankList}[2].result.list
					},
					sorting	: {
						multiple: true
					},
					rowHover	: true,
					paging		: false,
					columns		: [
						{ field: "nm",	title: "Index" },
						{ field: "nv",	title: "Amount",	format: "{0:n:0}" },
						{ field: "cv",	title: "Variation", format: "{0:n:0}" },
						{ field: "cr",	title: "Percent",	format: "{0} %" }
					]
				});
	            
	            jQuery("#grid_trendrank_db").shieldGrid({
					dataSource	: {
						data : $!{lsTrendRankList}[3].result.list
					},
					sorting	: {
						multiple: true
					},
					rowHover	: true,
					paging		: false,
					columns		: [
						{ field: "nm",	title: "Index" },
						{ field: "nv",	title: "Amount",	format: "{0:n:0}" },
						{ field: "cv",	title: "Variation", format: "{0:n:0}" },
						{ field: "cr",	title: "Percent",	format: "{0} %" }
					]
				});
	            
	            _bInit = true;
	            
	            /* #* [E] Business Logics *# */    
			/* #* [E] Document Ready *# */
			});
			
			function fnAppendRank ( data, i, target ) {
				var sHtmlTags = '<h5 class="tab-header">' +
								'	<span class="badge" style="float:left; position: absolute;">' + data.rank + '</span>' +
								'	<a href="' + data.link + '" target="_blank" class="text-over" style="padding-left: 30px;">'+ data.title +'</a>' +
								'</h5>';
				var st = setTimeout(function() {
					target.append(sHtmlTags);
				}, 80 * i);
			}
			
			lsTrendRankList = $!{lsTrendRankList};
			var nLength = lsTrendRankList.length;
			
			
		}(jQuery));
	</script>
</body>
<!-- #*	[S] Common Footer *# -->
#parse( "/common/footer.vm" )
<!-- #*	[E] Common Footer *# -->